
body{
    background-color: #11d321a2;
    color: rgba(166, 255, 0, 0.719);
  }
  h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #560bad;
  }
  p{
    color:#3f37c9;
  }

  body > p{
    font-family: 'Courier New', Courier, monospace;
  }

  p::first-line{
    text-transform: capitals;
  }

#final-list-element{
  color: #d00000;
  font-size: large;
}

  body + li{
    font-size: 25px;
  }
  img{
    height: 150px;
  }

