
body{
    background-color: #e20f0fa2;
    color: rgba(255, 230, 0, 0.719);
  }
  h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #560bad;
  }
  p{
    color:#3f37c9;
  }

  body > p{
    font-family: 'Courier New', Courier, monospace;
  }

  li:hover{
    color: slategray;
    font-size: large;
  }
  p::first-line{
    text-transform: capitalize;
  }

#final-list-element{
  color: #d00000;
  font-size: large;
}

#final-list-element:hover{
  text-transform: uppercase;
}

  body + li{
    font-size: 25px;
  }
  img{
    height: 150px;
  }

