
body{
    background-color: #f72585;
    color: gold;
  }
  h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #560bad;
  }
  p{
    color:#3f37c9;
  }

  body > p{
    font-family: 'Courier New', Courier, monospace;
  }

  p::first-line{
    text-transform: capitals;
  }



  body + li{
    font-size: 25px;
  }
  img{
    height: 150px;
  }

